@tailwind base;
@tailwind components;
@tailwind utilities;

.fit {
  min-height: calc(100vh - 88px);
}

.fitBridge {
  min-height: 90vh;
}

::-webkit-scrollbar {
	background: #fff;
	width: 5px;
}

::-webkit-scrollbar-thumb {
	background: #4338CA;
	border-radius: 15px;
}

/* 
  ::selection {
  background: rgb(79, 70, 229);
  color: rgb(79, 70, 229);
}
*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.next-image-wrapper > div {
    height: 100%;
}

.blur {
  backdrop-filter: blur(5px);
  background-color: rgba(107, 114, 128, 0.5);
}

.fontTurrentRoad {
  font-family: 'Turret Road', cursive;
}

.fontMajorMonoDisplay {
  font-family: 'Major Mono Display', monospace;
}

.lightBlueGlass {
  backdrop-filter: blur(5px);
  background-color: rgba(79, 70, 229, 0.4);
  border: 1px solid rgba(79, 70, 229, 0.5);
}

.lightBlueGlassLessBlur {
  backdrop-filter: blur(2px);
  background-color: rgba(79, 70, 229, 0.4);
  border: 1px solid rgba(79, 70, 229, 0.5);
}

.lightBlueGlassMinimumBlur {
  background-color: rgba(79, 70, 229, 0.4);
  border: 1px solid rgba(79, 70, 229, 0.5);
}

.navLogo {
  //-webkit-text-stroke: 0.5px black;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 800;
}

.bridgeInputTransparent{
  background: transparent;
}

.bridgeInputTransparentModal{
  background: rgba(79, 70, 229, 0.4);
}
.bridgeInputTransparentModal:focus{
  border: 1px solid #4338CA;
}
.bridgeInputTransparentModal:active{
  border: 1px solid #4338CA;
}
.bridgeTokenSearchGlow{
  box-shadow: 5px 5px 100px 0 rgba(65,103,255,0.6),
  -19px -5px 100px 0 rgba(198,65,198,0.6);
  -webkit-transition:0.4s;
  transition:0.4s;
}

/* 
  BACKGROUND START
*/
/* Cool infinite background scrolling animation.
 * Twitter: @kootoopas
 */
/* Exo thin font from Google. */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&family=Major+Mono+Display&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
body {
  color: #999;
  font-family: 'Exo', sans-serif;
  /* img size is 50x50 */
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite; /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite; /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite; /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* 
  BACKGROUND END
*/

/* 
  BUTTON START
*/

.button span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button:before,
.button:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button:before {
    content: attr(data-hover);
    //padding-top: 0.28em;
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button:after {
    content: attr(data-active);
    //padding-top: 0.28em;
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}




.button1 span {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.button1:before,
.button1:after {
    content: '';
    position: absolute;
    top: 0.67em;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    -webkit-transition: .4s,opacity .6s;
    -moz-transition: .4s,opacity .6s;
    -o-transition: .4s,opacity .6s;
    transition: .4s,opacity .6s;
}

/* :before */

.button1:before {
    content: attr(data-hover);
    padding-top: 0.28em;
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
}

/* :after */

.button1:after {
    content: attr(data-active);
    padding-top: 0.28em;
    -webkit-transform: translate(150%,0);
    -moz-transform: translate(150%,0);
    -ms-transform: translate(150%,0);
    -o-transform: translate(150%,0);
    transform: translate(150%,0);
}

/* Span on :hover and :active */

.button1:hover span,
.button1:active span {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
    transform: scale(0.3);
}

/*  
    We show :before pseudo-element on :hover 
    and :after pseudo-element on :active 
*/

.button1:hover:before,
.button1:active:after {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

/* 
  We hide :before pseudo-element on :active
*/

.button1:active:before {
    -webkit-transform: translate(-150%,0);
    -moz-transform: translate(-150%,0);
    -ms-transform: translate(-150%,0);
    -o-transform: translate(-150%,0);
    transform: translate(-150%,0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.button1 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}


/* 
  BUTTON END
*/

/* 
  LOADER START (CAN CHANGE THE SIZE OF THE LOADER BY CREATING NEW CSS CLASSES)
*/

.loader {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: black black transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #4338CA #4338CA;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 20px;
  height: 20px;
  border-color: black black transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loaderSmall {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: black black transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderSmall::after,
.loaderSmall::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #4338CA #4338CA;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loaderSmall::before {
  width: 5px;
  height: 5px;
  border-color: black black transparent transparent;
  animation: rotation 1.5s linear infinite;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loaderBig {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #4338CA #4338CA transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loaderBig::after,
.loaderBig::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent black black;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBackBig 0.5s linear infinite;
  transform-origin: center center;
}
.loaderBig::before {
  width: 44px;
  height: 44px;
  border-color: #4338CA #4338CA transparent transparent;
  animation: rotationBig 1.5s linear infinite;
}
    
@keyframes rotationBig {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes rotationBackBig {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
    

/* 
  LOADER END
*/

.loaderV2V2 {
  width: 8px;
  height: 40px;
  border-radius: 4px;
  display: block;
  margin: 20px auto;
  position: relative;
  background: currentColor;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loaderV2::after, .loaderV2::before {
  content: '';
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loaderV2::before {
  left: -20px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 48px} 
  100% { height: 4px}
}

/* 
  GLOW START
*/

.glow-on-hover {
    color: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #A5B4FC, #818CF8, #6366F1, #4F46E5, #4338CA, #3730A3, #A5B4FC, #818CF8, #6366F1, #4F46E5, #4338CA, #3730A3);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: white;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* 
  GLOW END
*/


/* 
  HOVER START
*/

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

/* 
  HOVER END
*/

/* 
  HERO TITLE START
*/

svg text {
  
  letter-spacing: 10px;
  font-family: 'Turret Road', monospace;
  stroke: black;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 3;
 
  animation: textAnimate 5s infinite alternate;
  
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill: hsla(243, 75%, 59%);

  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: hsla(243, 75%, 59%, 0%);
  }
  
}

/* 
  HERO TITLE END
*/

/* 
  HERO DESCRIPTION START
*/

.hero {
  font-family: monospace;
  color:black;
  text-align: left;
  transform: scale(0.94);
  text-size: 200px;
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.hero span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.hero span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(19) {
  animation: fade-in 0.8s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(20) {
  animation: fade-in 0.8s 2.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(21) {
  animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(22) {
  animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(23) {
  animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(24) {
  animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(25) {
  animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(26) {
  animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(27) {
  animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(28) {
  animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(29) {
  animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(30) {
  animation: fade-in 0.8s 3.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(31) {
  animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(32) {
  animation: fade-in 0.8s 3.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(33) {
  animation: fade-in 0.8s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(34) {
  animation: fade-in 0.8s 3.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(35) {
  animation: fade-in 0.8s 3.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(36) {
  animation: fade-in 0.8s 3.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(37) {
  animation: fade-in 0.8s 3.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(38) {
  animation: fade-in 0.8s 3.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(39) {
  animation: fade-in 0.8s 3.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(40) {
  animation: fade-in 0.8s 4.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(41) {
  animation: fade-in 0.8s 4.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(42) {
  animation: fade-in 0.8s 4.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(43) {
  animation: fade-in 0.8s 4.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(44) {
  animation: fade-in 0.8s 4.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(45) {
  animation: fade-in 0.8s 4.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(46) {
  animation: fade-in 0.8s 4.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(47) {
  animation: fade-in 0.8s 4.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(48) {
  animation: fade-in 0.8s 4.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(49) {
  animation: fade-in 0.8s 4.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(50) {
  animation: fade-in 0.8s 5.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(51) {
  animation: fade-in 0.8s 5.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(52) {
  animation: fade-in 0.8s 5.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(53) {
  animation: fade-in 0.8s 5.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(54) {
  animation: fade-in 0.8s 5.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(55) {
  animation: fade-in 0.8s 5.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(56) {
  animation: fade-in 0.8s 5.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(57) {
  animation: fade-in 0.8s 5.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(58) {
  animation: fade-in 0.8s 5.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(59) {
  animation: fade-in 0.8s 5.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(60) {
  animation: fade-in 0.8s 6.0s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.hero span:nth-child(61) {
  animation: fade-in 0.8s 6.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* 
  HERO DESCRIPTION END
*/

/* 
  CHAIN SELECT START
*/

.crncy_select_prnt .crnc_options {
  display: flex;
  align-items: center;
  font-family: 'Turret Road', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.crncy_select_prnt .crnc_options>span {
  margin-right: 8px !important;
  min-width: 28px;
}
.crncy_select_inn__menu .crncy_select_inn__menu-list>div .crnc_options {
  background: rgb(79, 70, 229);
  //background: #0D0415;
  border: 1px solid rgb(79, 70, 229);
  border-radius: 8px;
  padding: 6px 14px;
  margin-bottom: 10px;
}
.crncy_select_inn__menu .crncy_select_inn__option.crncy_select_inn__option--is-selected .crnc_options {
  position: relative;
  border: 0.5px solid #e0e7ff;
  overflow: visible;
}
.crncy_select_inn__menu .crncy_select_inn__option.crncy_select_inn__option--is-selected .crnc_options::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #e0e7ff;
  left: -3px;
  border-radius: 50%;
}
.landing_page .crncy_select_inn__value-container .crncy_select_inn__single-value .crnc_options p, .landing_page .crncy_select_inn__control .crncy_select_inn__indicators {
 display: none;
}
.landing_page .crncy_select_prnt .crnc_options>span {
  margin-right: 0 !important;
}
@media screen and (max-width:1023px) {
  .crncy_select_prnt .crncy_select_inn__menu {
    min-width: 280px;
  }
  .crncy_select_prnt .crnc_options {
    font-size: 13px;
  }
  .crncy_select_prnt .crnc_options>span {
    height: 25px !important;
    width: 25px !important;
    margin-right: 5px;
  }
}
.landing_page .crncy_select_brdg__value-container .crncy_select_brdg__single-value .crnc_options p, .landing_page .crncy_select_brdg__control .crncy_select_brdg__indicators {
  display: none;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .crnc_options::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #e0e7ff;
  left: -3px;
  border-radius: 50%;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .crnc_options {
  position: relative;
  border: 0.5px solid #e0e7ff;
  overflow: visible;
}
.crncy_select_brdg__menu .crncy_select_brdg__menu-list>div .crnc_options {
  background: rgb(79, 70, 229);
  //background: #0D0415;
  border: 1px solid rgb(79, 70, 229);
  border-radius: 8px;
  padding: 6px 14px;
  margin-bottom: 10px;
}

.crncy_select_prnt .brdg_options {
  font-size: 13px;
}
.crncy_select_prnt .brdg_options>span {
  height: 30px !important;
  width: 20px !important;
  margin-right: 5px;
}
.landing_page .crncy_select_prnt .brdg_options>span {
  margin-right: 0 !important;
}
.landing_page .crncy_select_inn__value-container .crncy_select_inn__single-value .brdg_options p, .landing_page .crncy_select_inn__control .crncy_select_inn__indicators {
  display: none;
}
.landing_page .crncy_select_brdg__value-container .crncy_select_brdg__single-value .brdg_options p, .landing_page .crncy_select_brdg__control .crncy_select_brdg__indicators {
  display: none;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .brdg_options::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #e0e7ff;
  left: -3px;
  border-radius: 50%;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .brdg_options {
  position: relative;
  border: 0.5px solid #e0e7ff;
  overflow: visible;
}
.crncy_select_inn__menu .crncy_select_inn__option.crncy_select_inn__option--is-selected .brdg_options::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: rgb(79, 70, 229);
  left: -3px;
  border-radius: 50%;
}
.crncy_select_inn__menu .crncy_select_inn__option.crncy_select_inn__option--is-selected .brdg_options {
  position: relative;
  border: 0.5px solid #e0e7ff;
  overflow: visible;
}
.crncy_select_inn__menu .crncy_select_inn__menu-list>div .brdg_options {
  background: rgb(79, 70, 229);
  //background: #0D0415;
  border: 1px solid rgb(79, 70, 229);
  border-radius: 8px;
  padding: 6px 14px;
  margin-bottom: 10px;
}
.crncy_select_brdg__menu .crncy_select_brdg__menu-list>div .brdg_options {
  background: rgb(79, 70, 229);
  //background: #0D0415;
  border: 1px solid rgb(79, 70, 229);
  border-radius: 8px;
  padding: 6px 14px;
  margin-bottom: 10px;
  margin-right: 8px;
}
.crncy_select_prnt .brdg_options>span {
  margin-right: 8px !important;
  min-width: 20px;
}

.crncy_select_prnt .brdg_options {
  display: flex;
  align-items: center;
  font-family: 'Turret Road', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

@media screen and (max-width: 575px){
  .crncy_select_prnt .crncy_select_brdg__menu {
    max-width: 150px !important;
    background: #131928;
    border-radius: 6px;
    overflow: hidden;
    font-size: 10px !important;
    overflow-x: hidden !important;
    padding: 53px 8px 10px 9px;
    top: 48px;
  }

  .crncy_select_prnt .crncy_select_brdg__menu::after {
    font-family: 'Turret Road', monospace;
    content: "Choose network";
    position: absolute;
    top: 15px;
    left: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px !important;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
  }

  .crncy_select_prnt .crncy_select_brdg__menu::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0px;
    border: 1px solid transparent;
    background: linear-gradient(rgb(79, 70, 229) 0px, rgb(79, 70, 229) 0px) padding-box padding-box;
    /* background: linear-gradient(270.07deg, #00FFCF, #3D5DFF, #00FFCF,#FFD148 ); */
    -webkit-mask: linear-gradient(rgb(79, 70, 229) 0 0) padding-box,
      linear-gradient(rgb(79, 70, 229) 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    border-radius: 6px;
    pointer-events: none;
  }

  .crncy_select_prnt .crncy_select_brdg__menu {
    overflow-x: hidden !important;
    min-width: 150px !important;
  }
}
.crncy_select_prnt .crncy_select_brdg__control {
  border: none !important;
  box-shadow: none !important;
}
.crncy_select_prnt_ash .crncy_select_brdg__menu {
  min-width: 150px;
  background: #131928;
  border-radius: 6px;
  overflow: hidden;
  padding: 20px 20px 10px 9px;
  top: 35px;
}
.crncy_select_prnt_ash .crncy_select_brdg__menu::after {
  display: none;
}
.crncy_select_prnt .crncy_select_brdg__menu {
  min-width: 280px;
}
.landing_page .crncy_select_brdg__value-container .crncy_select_brdg__single-value .crnc_options p, .landing_page .crncy_select_brdg__control .crncy_select_brdg__indicators {
  display: none;
}
.landing_page .crncy_select_brdg__value-container .crncy_select_brdg__single-value .brdg_options p, .landing_page .crncy_select_brdg__control .crncy_select_brdg__indicators {
  display: none;
}

.crncy_select_brdg__control--menu-is-open .crncy_select_brdg__indicator{
  rotate: 180deg;
}
.crncy_select_brdg__menu .crncy_select_brdg__menu-list {
  padding: 0;

}
.crncy_select_brdg__menu .crncy_select_brdg__menu-list>div {
  padding: 0;
  background: transparent;
}

.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .brdg_options::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: rgb(79, 70, 229);
  left: -3px;
  border-radius: 50%;
}
.crncy_select_brdg__indicator svg {
  color: #fff !important;
}

.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .brdg_options {
  position: relative;
  border: 0.5px solid #e0e7ff;
  overflow: visible;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .crnc_options::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: #e0e7ff;
  left: -3px;
  border-radius: 50%;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option {
  padding-left: 3px;
}
.crncy_select_brdg__menu .crncy_select_brdg__option.crncy_select_brdg__option--is-selected .crnc_options {
  position: relative;
  border: 0.5px solid #e0e7ff;
  overflow: visible;
}
.crncy_select_brdg__menu .crncy_select_brdg__menu-list>div .crnc_options {
  background: rgb(79, 70, 229);
  //background: #0D0415;
  border: 1px solid rgb(79, 70, 229);
  border-radius: 8px;
  padding: 6px 14px;
  margin-bottom: 10px;
}
.switch-margin_bottom{
  margin-bottom: 62px;
}
.crncy_select_brdg__menu .crncy_select_brdg__menu-list>div .brdg_options {
  background: rgb(79, 70, 229);
  //background: #0D0415;
  border: 1px solid rgb(79, 70, 229);
  border-radius: 8px;
  padding: 6px 14px;
  margin-bottom: 10px;
  margin-right: 8px;
}

.crncy_select_prnt .crncy_select_brdg__menu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0px;
  border: 1px solid transparent;
  background: linear-gradient(rgb(79, 70, 229) 0px, rgb(79, 70, 229) 0px) padding-box padding-box;
    /* background: linear-gradient(270.07deg, #00FFCF, #3D5DFF, #00FFCF,#FFD148 ); */
    -webkit-mask: linear-gradient(rgb(79, 70, 229) 0 0) padding-box,
      linear-gradient(rgb(79, 70, 229) 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  border-radius: 6px;
  pointer-events: none;
}
.crncy_select_prnt .crncy_select_brdg__menu::after {
  content: "Choose network";
  position: absolute;
  top: 15px;
  left: 11px;
  font-family: 'Turret Road', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
}

.crncy_select_prnt .crncy_select_brdg__indicator-separator { display: none; }
.crncy_select_prnt .crncy_select_brdg__menu {
  min-width: 226px;
  backdrop-filter: blur(5px);
  background-color: rgba(79, 70, 229, 0.5);
  border: 1px solid rgba(79, 70, 229, 0.5);
  border-radius: 6px;
  overflow: hidden;
  padding: 53px 8px 10px 9px;
  top: 48px;
}
.crncy_select_prnt .crncy_select_brdg__control {
  background: transparent;
  border: none;
}

/* 
  CHAIN SELECT END
*/

/* 
  BRIDGE START
*/

.container{
  max-width: 50%;
  max-height: 70%;
  min-width: 20%;
  min-height: 20%;
}

/* 
  BRIDGE END
*/
